.scrollbar-custom::-webkit-scrollbar {
    height: 5px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track background */
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #4a90e2; /* Scrollbar color */
    border-radius: 4px; /* Rounded corners */
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #357abd; /* Darker color on hover */
  }
  